{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
  <link rel="stylesheet" href="{% static 'css/index_page.css' %}">
{% endblock %}

{% block header %}
  <div class="start_greeting">
    <h2>Ласкаво просимо на стартову сторінку</h2>
    <p>Для продовження роботи зареєструйтесь або увiйдiть в аккаунт</p>
  </div>
{% endblock %}

{% block content %}
  <div class="main-container">
    <a href="{% url 'employees:registration' %}" class="simple-btn">Реєстрація</a>
    <a href="{% url 'employees:login' %}" class="simple-btn">Увiйти</a>
  </div>
{% endblock %}
