body {
  margin: 0;
  padding: 0;
  outline: 0;
}

h1 {
    color: #3333aa;
}

.title {
  text-align: center;
}

#val {
  font-size: 18px;
  color: #a33;
}

.preload-wrapper {
  position: fixed;
  left: 50%;
  width: 200px;
  transform: translateX(-100px) translateY(100px);
  height: 300px;
}

.pre-load-img {
  position: relative;
  height: 200px;
  animation: pre-load-img-animation .5s linear infinite;
}

@keyframes pre-load-img-animation {
    0% {bottom: 0%;}
    50% {bottom: 0}
    100% {bottom: 20%;}
}

.main {
  width: 1150px;
  margin: 0 auto;
}

.main-charts-wrapper {
    opacity: 0;
}

.charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.count {
  display: flex;
  font-size: 18px;
  margin-left: 40px;
}

.count>p:first-child {
  margin-right: 20px;
}

.buttons {
  margin: 0 auto;
  width: 215px;
}

.btn_stop, .btn_start, .btn_reload {
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  width: 100px;
  height: 50px;
  background-color: #a33;
  /* text-align: center; */
  cursor: pointer;
  outline: none;
  border: none;
}

.btn_stop:hover {
  box-shadow: 0 0 10px #000;
  background-color: #900;
}
.btn_stop_activate {
  background-color: #900;
}

.btn_start {
  background-color: #3a3;
  margin-left: 10px;
}

.btn_start:hover {
  box-shadow: 0 0 5px #000;
  background-color: #090;
}

.btn_start_activate {
  background-color: #090;
}

.monitoring-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.simple-btn {
  width: 235px;
  height: 60px;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  background-color: #33d;
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn_stop_monitoring {
  margin-left: 20px;
}

.buttons_main {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.fall_connection {
  width: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn_stop_main, .btn_start_main, .btn_reload_main, .btn_fall_connection_main {
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  width: 100px;
  height: 50px;
  background-color: #0d082c;
  /* text-align: center; */
  cursor: pointer;
  outline: none;
  border: none;
}

.btn_fall_connection_main {
  background-color: #140003;
  margin-left: 15px;
  width: 165px;
}

.btn_reload_main {
  background-color: #2ca02c;
  width: 175px;
  margin-left: 15px;
}

.btn_stop_main {
  background-color: #140003;
  margin-left: 15px;
}

.btn_stop_main_activate {
  background-color: #4d000e;
}

.btn_start_main_activate {
  background-color: #3e26c8;
}

dl > dt {
    margin: 15px 0;
}

dt > p {
  display: inline;
}

.features {
  font-size: 20px;
}

.wrapper-notification-after-ajax {
  text-align: center;
  margin-bottom: 20px;
  display: none;
}

.notification-after-ajax {
  color: #3a3;
  font-size: 20px;
}

.wrapper-timer {
  margin-top: 10px;
}

/* main buttons */

/* .btn_stop_main {}

.btn_stop_main {} */

/* end main buttons */

/* charts  */
.chart:nth-child(2), #chart_4 {
  margin-left: 100px;
}

.chart:nth-child(n+3) {
  margin-top: 100px;
}

/* end charts*/


footer {
  background-color: #111;
  height: 40px;
  margin-top: 60px;
}
