<!DOCTYPE html>
{% load staticfiles %}

<html lang="ru-UA">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MKV-K</title>

  <link rel="stylesheet" href="{% static '/css/menu.css' %}">
  <script type="text/javascript" src="{% static 'js/jquery3.3.1.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/menu_button.js' %}"></script>
{% block head %}
{% endblock %}
</head>

<body>

  <main>
    <header>
      {% if request.user.is_authenticated %}
        <div class="menu">
          <p class="menu-circle">{{ request.user.username|slice:1 }}</p>
          <div class="pop-up pop-up-hide">
            <div class="home"><a href="{% url 'employees:home' %}">На головну</a></div>
            <div class="logout"><a href="{% url 'employees:logout' %}">Вийти</a></div>
          </div>
        </div>
      {% endif %}
     {% block header %}
     {% endblock %}
    </header>

    <article class="main">
     {% block content %}
     {% endblock %}
    </article>
  </main>

  <footer style="height: 40px; margin-top: 60px;">
  </footer>

</body>
</html>
